@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
body{
	background-color: black;
}

.tryAgain{
	bottom: 20px;
	right: 600px;
}
#gameBoard{
	border: 1px solid black;
	display: grid;
	grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content: center;
	width: 600px;
	height:600px;
	margin-right: auto;
	margin-left: auto; 
}

#seconds{
	color: white;
	font-size: 30px;
	width: 600px;
	height: 20px;
		font-family: 'Metal Mania', cursive;
}
#gameBoard div{
	background-color: #002e00;
	background-repeat: no-repeat;
	background-size: cover;
}
.life{
	color: red;
	text-align: right;
	right: 250px;
	font-size: 40px;
	width: 600px;
	margin-right: auto;
	margin-left: auto; 
	height: 20px;
}
.rider{
	background-image: url("images/rider.png");
}

.tree{
	background-image: url("images/tree.png");
}

.water{
	background-image: url("images/water.png");
}
.fence{
	background-image: url("images/fence.png");
}

.fenceside{
	background-image: url("images/fenceside.png");
}
.rock{
	background-image: url("images/rock.png");
}
.flag{
	background-image: url(images/flag.png);
}
.horseup{
	background-image: url("images/horseUp.png");
}
.horsedown{
	background-image: url("images/horsedown.png");
}
.horseright{
	background-image: url("images/horseright.png");
}
.horseleft{
	background-image: url("images/horseleft.png");
}
.horseriderup{
	background-image: url("images/horseriderup.png");
}
.horseriderdown{
	background-image: url("images/horseriderdown.png");
}
.horseriderright{
	background-image: url("images/horseriderright.png");
}
.horseriderleft{
	background-image: url("images/horseriderleft.png");
}
.jumpup{
	background-image: url("images/jumpup.png");
}
.jumpdown{
	background-image: url("images/jumpdown.png");
}
.jumpright{
	background-image: url("images/jumpright.png");
}
.jumpleft{
	background-image: url("images/jumpleft.png");
}
.enemyup{
	background-image: url("images/enemyup.png");
}
.enemydown{
	background-image: url("images/enemydown.png");
}
.enemyright{
	background-image: url("images/enemyright.png");
}
.enemyleft{
	background-image: url("images/enemyleft.png");
}

.bridge{
	background-color: #800020 !important;
}
.archer{
	background-image: url("images/archer.png");
}
.arrow{
	background-image: url("images/arrow.png");
}
.wall{
	background-image: url("images/wall.png");
}
.wallside{
	background-image: url("images/wallside.png");
}
.message{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	color: white;
	font-family: 'Metal Mania', cursive;
	font-size: 4.5em;
	vertical-align: top;
	text-align: center;
	line-height: 100vh;
}

button{
	height:40px;
	width:100px;
	position: absolute;
	font-size: 10px;
	background-color: #003300;
	color: white;
	border-color: white;
	font-family: 'Metal Mania', cursive;
}

#pause{
	right: 600px;
	top: 90px;
}
#resume{
	right: 700px;
	top: 90px;
}

#timer{
	font-size: 30px;
	color: white;
		font-family: 'Metal Mania', cursive;
}